[submodule "od-1506-yolo-v1-tf"]
	path = od-1506-yolo-v1-tf
	url = https://github.com/jungin500/ipcvl2020-yolov1-impl
[submodule "od-1602-yolo9000-tf"]
	path = od-1602-yolo9000-tf
	url = https://github.com/jungin500/ipcvl2020-yolov2-impl
[submodule "od-1704-mobilenet-v1-tf"]
	path = od-1704-mobilenet-v1-tf
	url = https://github.com/jungin500/mobilenets-base
[submodule "od-1804-yolo-v3-tf"]
	path = od-1804-yolo-v3-tf
	url = https://github.com/jungin500/ipcvl2020-yolov3-impl